In [1]:
### importing libraries:-

import numpy as np
import pandas as pd
import selenium 
import time
from bs4 import BeautifulSoup

## importing webdriver:-
from selenium import webdriver

## importing require exceptions:-
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException

## importing requests
import requests

## importing regex
import re

In [2]:
## importing warning
import warnings
warnings.filterwarnings('always')
warnings.filterwarnings('ignore')

## `Question.`1:-  Scrape the details of most viewed videos on YouTube from Wikipedia.
- Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
 You need to find following details:
- A) Rank
- B) Name
- C) Artist
- D) Upload date
- E) Views

In [3]:
driver=webdriver.Chrome('chromedriver.exe')

In [4]:
## fetching the  site:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')
time.sleep(5)

There are 2 tables in that web page so  we will scrap table one by one.

### table 1:- Top 30 most-viewed YouTube videos.

In [5]:
## Extracting the video name from the  table in the webpage:
video_name=[]
try:
    All_content=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]//tr//td[2]')
    for i in All_content[:30]:
        video_name.append(i.text)
except NoSuchElementException:
    video_name.append('-')

In [6]:
video_name

['"Baby Shark Dance"[3]',
 '"Despacito"[6]',
 '"Johny Johny Yes Papa"[12]',
 '"Shape of You"[13]',
 '"See You Again"[15]',
 '"Bath Song"[20]',
 '"Learning Colors – Colorful Eggs on a Farm"[21]',
 '"Phonics Song with Two Words"[22]',
 '"Uptown Funk"[23]',
 '"Masha and the Bear – Recipe for Disaster"[24]',
 '"Gangnam Style"[25]',
 '"Dame Tu Cosita"[30]',
 '"Wheels on the Bus"[31]',
 '"Sugar"[32]',
 '"Roar"[33]',
 '"Counting Stars"[34]',
 '"Sorry"[35]',
 '"Thinking Out Loud"[36]',
 '"Axel F"[37]',
 '"Girls Like You"[38]',
 '"Faded"[39]',
 '"Dark Horse"[40]',
 '"Let Her Go"[41]',
 '"Bailando"[42]',
 '"Lean On"[43]',
 '"Baa Baa Black Sheep"[44]',
 '"Shake It Off"[45]',
 '"Perfect"[46]',
 '"Waka Waka (This Time for Africa)"[47]',
 '"Mi Gente"[48]']

In [7]:
## Extracting the  views
view1=[]
try:
    All_content=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]//tr//td[4]')
    for i in All_content[:30]:
        view1.append(i.text)
except NoSuchElementException:
    view1.append('-')

In [8]:
## printing for table 1
view1

['10.35',
 '7.79',
 '6.24',
 '5.65',
 '5.45',
 '5.12',
 '4.56',
 '4.52',
 '4.50',
 '4.49',
 '4.37',
 '3.89',
 '3.82',
 '3.66',
 '3.54',
 '3.53',
 '3.52',
 '3.42',
 '3.28',
 '3.25',
 '3.25',
 '3.24',
 '3.19',
 '3.18',
 '3.18',
 '3.17',
 '3.15',
 '3.12',
 '3.09',
 '3.05']

In [9]:
## Extracting the Rank from 1st table:
rank=[]
try:
    All_content=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]//tr//td[1]')
    for i in All_content[:30]:
        rank.append(i.text)
except NoSuchElementException:
    rank.append('-')

In [10]:
rank

['1.',
 '2.',
 '3.',
 '4.',
 '5.',
 '6.',
 '7.',
 '8.',
 '9.',
 '10.',
 '11.',
 '12.',
 '13.',
 '14.',
 '15.',
 '16.',
 '17.',
 '18.',
 '19.',
 '20.',
 '21.',
 '22.',
 '23.',
 '24.',
 '25.',
 '26.',
 '27.',
 '28.',
 '29.',
 '30.']

In [11]:
## Extracting the artist_name  from 1st table:
artist_name=[]
try:
    All_content=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]//tr//td[3]')
    for i in All_content[:30]:
        artist_name.append(i.text)
except NoSuchElementException:
    artist_name.append('-')

In [12]:
artist_name

["Pinkfong Baby Shark - Kids' Songs & Stories",
 'Luis Fonsi',
 'LooLoo Kids',
 'Ed Sheeran',
 'Wiz Khalifa',
 'Cocomelon – Nursery Rhymes',
 'Miroshka TV',
 'ChuChu TV',
 'Mark Ronson',
 'Get Movies',
 'Psy',
 'El Chombo',
 'Cocomelon – Nursery Rhymes',
 'Maroon 5',
 'Katy Perry',
 'OneRepublic',
 'Justin Bieber',
 'Ed Sheeran',
 'Crazy Frog',
 'Maroon 5',
 'Alan Walker',
 'Katy Perry',
 'Passenger',
 'Enrique Iglesias',
 'Major Lazer',
 'Cocomelon – Nursery Rhymes',
 'Taylor Swift',
 'Ed Sheeran',
 'Shakira',
 'J Balvin']

In [13]:
## Extracting the upload date from 1st table:
upload_date=[]
try:
    All_content=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]//tr//td[5]')
    for i in All_content[:30]:
        upload_date.append(i.text)
except NoSuchElementException:
    upload_date.append('-')

In [14]:
upload_date

['June 17, 2016',
 'January 12, 2017',
 'October 8, 2016',
 'January 30, 2017',
 'April 6, 2015',
 'May 2, 2018',
 'February 27, 2018',
 'March 6, 2014',
 'November 19, 2014',
 'January 31, 2012',
 'July 15, 2012',
 'April 5, 2018',
 'May 24, 2018',
 'January 14, 2015',
 'September 5, 2013',
 'May 31, 2013',
 'October 22, 2015',
 'October 7, 2014',
 'June 16, 2009',
 'May 31, 2018',
 'December 3, 2015',
 'February 20, 2014',
 'July 25, 2012',
 'April 11, 2014',
 'March 22, 2015',
 'June 25, 2018',
 'August 18, 2014',
 'November 9, 2017',
 'June 4, 2010',
 'June 29, 2017']

## Creating A dataframe for 1st table:

In [15]:
df=pd.DataFrame()
df['Rank']=rank
df['VideoName']=video_name
df['ArtistName']=artist_name
df['Upload_date']=upload_date
df['ViewsInBillion']=view1

In [16]:
df

,Rank,VideoName,ArtistName,Upload_date,ViewsInBillion
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",10.35
1,2.,"""Despacito""[6]",Luis Fonsi,"January 12, 2017",7.79
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,"October 8, 2016",6.24
3,4.,"""Shape of You""[13]",Ed Sheeran,"January 30, 2017",5.65
4,5.,"""See You Again""[15]",Wiz Khalifa,"April 6, 2015",5.45
5,6.,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.12
6,7.,"""Learning Colors – Colorful Eggs on a Farm""[21]",Miroshka TV,"February 27, 2018",4.56
7,8.,"""Phonics Song with Two Words""[22]",ChuChu TV,"March 6, 2014",4.52
8,9.,"""Uptown Funk""[23]",Mark Ronson,"November 19, 2014",4.50
9,10.,"""Masha and the Bear – Recipe for Disaster""[24]",Get Movies,"January 31, 2012",4.49
10,11.,"""Gangnam Style""[25]",Psy,"July 15, 2012",4.37
11,12.,"""Dame Tu Cosita""[30]",El Chombo,"April 5, 2018",3.89
12,13.,"""Wheels on the Bus""[31]",Cocomelon – Nursery Rhymes,"May 24, 2018",3.82
13,14.,"""Sugar""[32]",Maroon 5,"January 14, 2015",3.66
14,15.,"""Roar""[33]",Katy Perry,"September 5, 2013",3.54
15,16.,"""Counting Stars""[34]",OneRepublic,"May 31, 2013",3.53
16,17.,"""Sorry""[35]",Justin Bieber,"October 22, 2015",3.52
17,18.,"""Thinking Out Loud""[36]",Ed Sheeran,"October 7, 2014",3.42
18,19.,"""Axel F""[37]",Crazy Frog,"June 16, 2009",3.28
19,20.,"""Girls Like You""[38]",Maroon 5,"May 31, 2018",3.25
20,21.,"""Faded""[39]",Alan Walker,"December 3, 2015",3.25
21,22.,"""Dark Horse""[40]",Katy Perry,"February 20, 2014",3.24
22,23.,"""Let Her Go""[41]",Passenger,"July 25, 2012",3.19
23,24.,"""Bailando""[42]",Enrique Iglesias,"April 11, 2014",3.18
24,25.,"""Lean On""[43]",Major Lazer,"March 22, 2015",3.18
25,26.,"""Baa Baa Black Sheep""[44]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.17
26,27.,"""Shake It Off""[45]",Taylor Swift,"August 18, 2014",3.15
27,28.,"""Perfect""[46]",Ed Sheeran,"November 9, 2017",3.12
28,29.,"""Waka Waka (This Time for Africa)""[47]",Shakira,"June 4, 2010",3.09
29,30.,"""Mi Gente""[48]",J Balvin,"June 29, 2017",3.05

### Extracting the 2nd Table:- `"Progression of the most-viewed video on YouTube"`

In [17]:
## Extracting the data from table2:
video_name=[]
view2=[]
try:
    All_content=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]//tr//td[1]')
    for i in All_content[31:]:
        video_name.append(i.text)
except NoSuchElementException:
    video_name.append('-')
try:
    All_content=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]//tr//td[3]')
    for i in All_content[31:]:
        view2.append(i.text)
except NoSuchElementException:
    view2.append('-')

artist_name=[]
try:
    All_content=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]//tr//td[2]')
    for i in All_content[31:]:
        artist_name.append(i.text)
except NoSuchElementException:
    artist_name.append('-')

upload_date=[]
try:
    All_content=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]//tr//td[4]')
    for i in All_content[31:]:
        upload_date.append(i.text)
except NoSuchElementException:
    upload_date.append('-')
achieve_date=[]
try:
    All_content=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]//tr//td[5]')
    for i in All_content[31:]:
        achieve_date.append(i.text)
except NoSuchElementException:
    achieve_date.append('-')

days_held=[]
try:
    All_content=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]//tr//td[6]')
    for i in All_content[31:]:
        days_held.append(i.text)
except NoSuchElementException:
    days_held.append('-')

## creating Dataframe for Table 2

In [18]:
df2=pd.DataFrame({'Rank':list(range(1,19)),
                 'Video_name':video_name,
                 'Uploader':artist_name,
                 'Views':view2,
                 'Achieve_date':achieve_date,
                 'Days_held':days_held})

In [19]:
df2

,Rank,Video_name,Uploader,Views,Achieve_date,Days_held
0,1,"""Despacito""[6]",Luis Fonsi,"2,993,700,000","August 4, 2017","1,186"
1,2,"""See You Again""[15]",Wiz Khalifa,"2,894,000,000","July 10, 2017",25
2,3,"""Gangnam Style""⁂[25]",Psy,"803,700,000","November 24, 2012","1,689"
3,4,"""Baby""*[59]",Justin Bieber,"245,400,000","July 16, 2010",862
4,5,"""Bad Romance""[63]",Lady Gaga,"178,400,000","April 14, 2010",93
5,6,"""Charlie Bit My Finger""‡[67]",HDCYT,"128,900,000","October 25, 2009",171
6,7,"""Evolution of Dance""[69]",Judson Laipply,"118,900,000","May 2, 2009",176
7,8,"""Girlfriend""‡[71][72]",RCA Records,"92,600,000","July 17, 2008",289
8,9,"""Evolution of Dance""[69]",Judson Laipply,"78,400,000","March 15, 2008",124
9,10,"""Music Is My Hot Hot Sex""‡[75]",CLARUSBARTEL72,"76,600,000","March 1, 2008",14
10,11,"""Evolution of Dance""*[69]",Judson Laipply,"10,600,000","May 19, 2006",652
11,12,"""Pokemon Theme Music Video""‡[80]",Smosh,"4,300,000","March 12, 2006",68
12,13,"""Myspace – The Movie""‡[84][85]",eggtea,"2,700,000","February 18, 2006",22
13,14,"""Phony Photo Booth""‡[87]",mugenized,"3,400,000","January 21, 2006",28
14,15,"""The Chronic of Narnia Rap""‡[89]",youtubedude,"2,300,000","January 9, 2006",12
15,16,"""Ronaldinho: Touch of Gold""‡*[91]",Nikesoccer,"255,000","October 31, 2005",70
16,17,"""I/O Brush""‡*[94]",larfus,"247,000","October 29, 2005",2
17,18,"""Me at the zoo""[96]",jawed,1,"April 23, 2005",1

In [20]:
driver.close()

## `Question2.`:-  Scrape the details team India’s international fixtures from bcci.tv.
- Url = https://www.bcci.tv/.
You need to find following details:
- A) Match title (I.e. 1st ODI)
- B) Series
- C) Place
- D) Date
- E) Time
###### Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [21]:
driver=webdriver.Chrome('chromedriver.exe')

In [22]:
driver.get('https://www.bcci.tv/')
time.sleep(5)

In [25]:
## clicking on view all buttton:
view_all=driver.find_element_by_xpath('//div[@class="moreMatchesLinkWrap custom-container"]//a[@ng-href="https://www.bcci.tv/international/fixtures"]')
view_all.click()
time.sleep(5)

In [26]:
### extracting all the  fixtures
all_data=[]
all_fixtures=driver.find_elements_by_xpath('//div[@class="fixture-card-main col-lg-3 col-md-6 col-sm-12 ng-scope"]')
for i in all_fixtures:
    all_data.append(i.text)

In [27]:
all_data

['ICC WOMENS WORLD CUP 2022\n27 MAR 2022\n6:30 AM IST\nIndia Women\nvs\nSouth Africa Women\nHagley Oval, Christchurch\nMatch Centre',
 'SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022\n9 JUN 2022\n7:30 PM IST\nIndia\nvs\nSouth Africa\n1st T20I - MA Chidambaram Stadium, Chennai\nMatch Centre',
 'SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022\n12 JUN 2022\n7:30 PM IST\nIndia\nvs\nSouth Africa\n2nd T20I - M Chinnaswamy Stadium, Bengaluru\nMatch Centre',
 'SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022\n14 JUN 2022\n7:30 PM IST\nIndia\nvs\nSouth Africa\n3rd T20I - Vidarbha Cricket Association Stadium, Nagpur\nMatch Centre',
 'SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022\n17 JUN 2022\n7:30 PM IST\nIndia\nvs\nSouth Africa\n4th T20I - Saurashtra Cricket Association Stadium, Rajkot\nMatch Centre',
 'SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022\n19 JUN 2022\n7:30 PM IST\nIndia\nvs\nSouth Africa\n5th T20I - Arun Jaitley Stadium, Delhi\nMatch Centre']

In [28]:
### Extracting series:
series=[]
try:
    tags=driver.find_elements_by_xpath('//div[@class="fixture-card-main col-lg-3 col-md-6 col-sm-12 ng-scope"]')
    for i in tags:
        series.append(i.text.split('\n')[0])
except NoSuchElementException:
    series.append('-')

In [29]:
series

['ICC WOMENS WORLD CUP 2022',
 'SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022',
 'SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022',
 'SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022',
 'SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022',
 'SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022']

In [30]:
### Extracting place:
place=[]
try:
    tags=driver.find_elements_by_xpath('//div[@class="fixture-card-main col-lg-3 col-md-6 col-sm-12 ng-scope"]')
    for i in tags:
        place.append(i.text.split('\n')[6])
except NoSuchElementException:
    place.append('-')

In [31]:
place

['Hagley Oval, Christchurch',
 '1st T20I - MA Chidambaram Stadium, Chennai',
 '2nd T20I - M Chinnaswamy Stadium, Bengaluru',
 '3rd T20I - Vidarbha Cricket Association Stadium, Nagpur',
 '4th T20I - Saurashtra Cricket Association Stadium, Rajkot',
 '5th T20I - Arun Jaitley Stadium, Delhi']

In [32]:
### Extracting teams:
teams=[]
try:
    tags=driver.find_elements_by_xpath('//div[@class="fixture-card-main col-lg-3 col-md-6 col-sm-12 ng-scope"]')
    for i in tags:
        teams.append(i.text.split('\n')[3:6])
except NoSuchElementException:
    teams.append('-')

In [33]:
teams

[['India Women', 'vs', 'South Africa Women'],
 ['India', 'vs', 'South Africa'],
 ['India', 'vs', 'South Africa'],
 ['India', 'vs', 'South Africa'],
 ['India', 'vs', 'South Africa'],
 ['India', 'vs', 'South Africa']]

In [34]:
### Extracting series_date:
series_date=[]
try:
    tags=driver.find_elements_by_xpath('//div[@class="fixture-card-main col-lg-3 col-md-6 col-sm-12 ng-scope"]')
    for i in tags:
        series_date.append(i.text.split('\n')[1])
except NoSuchElementException:
    series_date.append('-')

In [35]:
series_date

['27 MAR 2022',
 '9 JUN 2022',
 '12 JUN 2022',
 '14 JUN 2022',
 '17 JUN 2022',
 '19 JUN 2022']

In [36]:
### Extracting match_time:
match_time=[]
try:
    tags=driver.find_elements_by_xpath('//div[@class="fixture-card-main col-lg-3 col-md-6 col-sm-12 ng-scope"]')
    for i in tags:
        match_time.append(i.text.split('\n')[2])
except NoSuchElementException:
    match_time.append('-')

In [37]:
match_time

['6:30 AM IST',
 '7:30 PM IST',
 '7:30 PM IST',
 '7:30 PM IST',
 '7:30 PM IST',
 '7:30 PM IST']

## Creating A DataFrame

In [38]:
match_fixture_df=pd.DataFrame({'Series':series,
                              'Series_date':series_date,
                              'Match_time':match_time,
                              "Teams":teams,
                              "Place":place})

In [39]:
match_fixture_df

,Series,Series_date,Match_time,Teams,Place
0,ICC WOMENS WORLD CUP 2022,27 MAR 2022,6:30 AM IST,"[India Women, vs, South Africa Women]","Hagley Oval, Christchurch"
1,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,9 JUN 2022,7:30 PM IST,"[India, vs, South Africa]","1st T20I - MA Chidambaram Stadium, Chennai"
2,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,12 JUN 2022,7:30 PM IST,"[India, vs, South Africa]","2nd T20I - M Chinnaswamy Stadium, Bengaluru"
3,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,14 JUN 2022,7:30 PM IST,"[India, vs, South Africa]",3rd T20I - Vidarbha Cricket Association Stadiu...
4,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,17 JUN 2022,7:30 PM IST,"[India, vs, South Africa]",4th T20I - Saurashtra Cricket Association Stad...
5,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,19 JUN 2022,7:30 PM IST,"[India, vs, South Africa]","5th T20I - Arun Jaitley Stadium, Delhi"

In [40]:
driver.close()

## `Question3.`:-  Scrape the details of selenium exception from guru99.com.
- Url = https://www.guru99.com/
You need to find following details:
- A) Name
- B) Description
##### Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [176]:
driver=webdriver.Chrome('chromedriver.exe')

In [177]:
driver.get('https://www.guru99.com/')
time.sleep(5)

In [178]:
### finding the element for selenium in this page and clicking it.
driver.find_element_by_xpath('/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[2]/div[1]/div/ul[1]/li[3]/a').click()

time.sleep(3)

In [179]:
### clicking on exception handling link.
driver.find_element_by_xpath('/html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[1]/a').click()
time.sleep(3)

In [180]:
## Fetching all the exception content:-
exception=[]
try:
    all_content=driver.find_elements_by_xpath('//table[@class="table table-striped"]//tr//td[1]')
    for i in all_content:
        exception.append(i.text)
except NoSuchElementException:
    exception.append('-')

In [181]:

print(exception)

['ElementNotVisibleException', 'ElementNotSelectableException', 'NoSuchElementException', 'NoSuchFrameException', 'NoAlertPresentException', 'NoSuchWindowException', 'StaleElementReferenceException', 'SessionNotFoundException', 'TimeoutException', 'WebDriverException', 'ConnectionClosedException', 'ElementClickInterceptedException', 'ElementNotInteractableException', 'ErrorInResponseException', 'ErrorHandler.UnknownServerException', 'ImeActivationFailedException', 'ImeNotAvailableException', 'InsecureCertificateException', 'InvalidArgumentException', 'InvalidCookieDomainException', 'InvalidCoordinatesException', 'InvalidElementStateExceptio', 'InvalidSessionIdException', 'InvalidSwitchToTargetException', 'JavascriptException', 'JsonException', 'NoSuchAttributeException', 'MoveTargetOutOfBoundsException', 'NoSuchContextException', 'NoSuchCookieException', 'NotFoundException', 'RemoteDriverServerException', 'ScreenshotException', 'SessionNotCreatedException', 'UnableToSetCookieException', 'UnexpectedTagNameException', 'UnhandledAlertException', 'UnexpectedAlertPresentException', 'UnknownMethodException', 'UnreachableBrowserException', 'UnsupportedCommandException']

In [182]:
len(exception)

41

In [183]:
## fetching all the exceptions description:
description=[]
try:
    all_descr=driver.find_elements_by_xpath('//table[@class="table table-striped"]//tr//td[2]')
    for i in all_descr:
        description.append(i.text)
        
except NoSuchElementException:
    description.append('-')

In [184]:
description

['This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.',
 'This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact.',
 'This Exception occurs if an element could not be found.',
 'This Exception occurs if the frame target to be switched to does not exist.',
 'This Exception occurs when you switch to no presented alert.',
 'This Exception occurs if the window target to be switch does not exist.',
 'This Selenium exception occurs happens when the web element is detached from the current DOM.',
 'The WebDriver is acting after you quit the browser.',
 'Thrown when there is not enough time for a command to be completed. For Example, the element searched wasn’t found in the specified time.',
 'This Exception takes place when the WebDriver is acting right after you close the browser.',
 'This type of Exception takes place when there is a disconnection in the driver.',
 'The command may not be completed as the element receiving the events is concealing the element which was requested clicked.',
 'This Selenium exception is thrown when any element is presented in the DOM. However, it is impossible to interact with such an element.',
 'This happens while interacting with the Firefox extension or the remote driver server.',
 'Exception is used as a placeholder in case if the server returns an error without a stack trace.',
 'This expectation will occur when IME engine activation has failed.',
 'It takes place when IME support is unavailable.',
 'Navigation made the user agent to hit a certificate warning. This can cause by an invalid or expired TLS certificate.',
 'It occurs when an argument does not belong to the expected type.',
 'This happens when you try to add a cookie under a different domain instead of current URL.',
 'This type of Exception matches an interacting operation that is not valid.',
 'It occurs when command can’t be finished when the element is invalid.',
 'This Exception took place when the given session ID is not included in the list of active sessions. It means the session does not exist or is inactive either.',
 'This occurs when the frame or window target to be switched does not exist.',
 'This issue occurs while executing JavaScript given by the user.',
 'It occurs when you afford to get the session when the session is not created.',
 'This kind of Exception occurs when the attribute of an element could not be found.',
 'It takes place if the target provided to the ActionChains move() methodology is not valid. For Example, out of the document.',
 'ContextAware does mobile device testing.',
 'This Exception occurs when no cookie matching with the given pathname found for all the associated cookies of the currently browsing document.',
 'This Exception is a subclass of WebDriverException. This will occur when an element on the DOM does not exist.',
 'This Selenium exception is thrown when the server is not responding because of the problem that the capabilities described are not proper.',
 'It is not possible to capture a screen.',
 'It happens when a new session could not be successfully created.',
 'This occurs if a driver is unable to set a cookie.',
 'Happens if a support class did not get a web element as expected.',
 'This expectation occurs when there is an alert, but WebDriver is not able to perform Alert operation.',
 'It occurs when there is the appearance of an unexpected alert.',
 'This Exception happens when the requested command matches with a known URL but and not matching with a methodology for a specific URL.',
 'This Exception occurs only when the browser is not able to be opened or crashed because of some reason.',
 'This occurs when remote WebDriver does n’t send valid commands as expected.']

In [185]:
len(description)

41

## Creating a dataframe:

In [186]:
df1=pd.DataFrame({'Exception_tyep':exception,
                  'Description':description},
                index=list(range(len(exception))))

In [187]:
df1

,Exception_tyep,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

In [188]:
driver.close()

## `Question.4`:-  Scrape the details of State-wise GDP of India from statisticstime.com.
- Url = http://statisticstimes.com/
You have to find following details:
- A) Rank
- B) State
- C) GSDP
- D) GSDP
- E) Share
- F) GDP(in doller billion)
###### Note: - From statisticstimes home page you have to reach to economy page through code

In [54]:
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.common.keys import Keys

In [55]:
driver=webdriver.Chrome('chromedriver.exe')
driver.get('http://statisticstimes.com/')
time.sleep(5)
### assigning the  driver:
act=ActionChains(driver)
### clicking on economy menu
act.move_to_element(driver.find_element_by_xpath('//div[@class="navbar"]//div[2]')).perform()
### clicking on indiaGDP inside the economy menu
act.click(driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')).perform()

In [56]:
## find the element for GDP page and clicking on link
economy_button=driver.find_element_by_xpath('//ul[@style="list-style-type:none;margin-left:20px;"]//a[1]')
economy_button.click()
time.sleep(5)

In [57]:
### findling the element for rank in india economy page
rank=[]
try:
    a=driver.find_elements_by_xpath('//td[@class="data1"]')
    for i in a[:30]:
        rank.append(i.text)
except NoSuchElementException:
    url.append('-')

In [58]:
rank

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30']

In [59]:
### findling the element for  in india economy page
GSDP18_19=[]
try:
    a=driver.find_elements_by_xpath('//td[@class="data sorting_1"]')
    for i in a[:30]:
        GSDP18_19.append(i.text)
except NoSuchElementException:
    GSDP18_19.append('-')

In [60]:
GSDP18_19

['2,632,792',
 '1,630,208',
 '1,584,764',
 '1,502,899',
 '1,493,127',
 '1,089,898',
 '942,586',
 '862,957',
 '861,031',
 '809,592',
 '781,653',
 '774,870',
 '734,163',
 '530,363',
 '526,376',
 '487,805',
 '315,881',
 '304,063',
 '297,204',
 '245,895',
 '155,956',
 '153,845',
 '73,170',
 '49,845',
 '42,114',
 '34,433',
 '33,481',
 '28,723',
 '27,870',
 '27,283']

In [61]:
### findling the element for State name in india economy page
state_name=[]
try:
    a=driver.find_elements_by_xpath('//td[@class="name"]')
    for i in a[:30]:
        state_name.append(i.text)
except NoSuchElementException:
    state_name.append('-')

In [62]:
state_name

['Maharashtra',
 'Tamil Nadu',
 'Uttar Pradesh',
 'Gujarat',
 'Karnataka',
 'West Bengal',
 'Rajasthan',
 'Andhra Pradesh',
 'Telangana',
 'Madhya Pradesh',
 'Kerala',
 'Delhi',
 'Haryana',
 'Bihar',
 'Punjab',
 'Odisha',
 'Assam',
 'Chhattisgarh',
 'Jharkhand',
 'Uttarakhand',
 'Jammu & Kashmir',
 'Himachal Pradesh',
 'Goa',
 'Tripura',
 'Chandigarh',
 'Puducherry',
 'Meghalaya',
 'Sikkim',
 'Manipur',
 'Nagaland']

In [63]:
### findling the element for whol rows
rows=[]
try:
    a=driver.find_elements_by_xpath('//tr[@role="row"]')
    for i in a[2:32]:
        rows.append(i.text)
except NoSuchElementException:
    rows.append('-')

In [64]:
rows

['1 Maharashtra - 2,632,792 13.94% 399.921 - 2,039,074',
 '2 Tamil Nadu 1,845,853 1,630,208 8.63% 247.629 1,312,929 1,215,307',
 '3 Uttar Pradesh 1,687,818 1,584,764 8.39% 240.726 1,166,817 1,123,982',
 '4 Gujarat - 1,502,899 7.96% 228.290 - 1,186,379',
 '5 Karnataka 1,631,977 1,493,127 7.91% 226.806 1,156,039 1,091,077',
 '6 West Bengal 1,253,832 1,089,898 5.77% 165.556 793,223 739,525',
 '7 Rajasthan 1,020,989 942,586 4.99% 143.179 711,627 677,428',
 '8 Andhra Pradesh 972,782 862,957 4.57% 131.083 672,018 621,301',
 '9 Telangana 969,604 861,031 4.56% 130.791 663,258 612,828',
 '10 Madhya Pradesh 906,672 809,592 4.29% 122.977 561,801 522,009',
 '11 Kerala - 781,653 4.14% 118.733 - 559,412',
 '12 Delhi 856,112 774,870 4.10% 117.703 634,408 590,569',
 '13 Haryana 831,610 734,163 3.89% 111.519 572,240 531,085',
 '14 Bihar 611,804 530,363 2.81% 80.562 414,977 375,651',
 '15 Punjab 574,760 526,376 2.79% 79.957 418,868 397,669',
 '16 Odisha 521,275 487,805 2.58% 74.098 396,499 376,877',
 '17 Assam - 315,881 1.67% 47.982 - 234,048',
 '18 Chhattisgarh 329,180 304,063 1.61% 46.187 243,477 231,182',
 '19 Jharkhand 328,598 297,204 1.57% 45.145 240,036 224,986',
 '20 Uttarakhand - 245,895 1.30% 37.351 - 193,273',
 '21 Jammu & Kashmir - 155,956 0.83% 23.690 - 112,755',
 '22 Himachal Pradesh 165,472 153,845 0.81% 23.369 124,403 117,851',
 '23 Goa 80,449 73,170 0.39% 11.115 63,408 57,787',
 '24 Tripura 55,984 49,845 0.26% 7.571 40,583 36,963',
 '25 Chandigarh - 42,114 0.22% 6.397 - 31,192',
 '26 Puducherry 38,253 34,433 0.18% 5.230 25,093 23,013',
 '27 Meghalaya 36,572 33,481 0.18% 5.086 26,695 24,682',
 '28 Sikkim 32,496 28,723 0.15% 4.363 20,017 18,722',
 '29 Manipur 31,790 27,870 0.15% 4.233 20,673 19,300',
 '30 Nagaland - 27,283 0.14% 4.144 - 17,647']

In [65]:
## Extracting share for list
share=[]
try:
    a=driver.find_elements_by_xpath('//tr[@role="row"]')
    for i in a[2:32]:
        share.append(i.text.split(' ')[-4])
except NoSuchElementException:
    share.append('-')

In [66]:
share

['13.94%',
 '8.63%',
 '8.39%',
 '7.96%',
 '7.91%',
 '5.77%',
 '4.99%',
 '4.57%',
 '4.56%',
 '4.29%',
 '4.14%',
 '4.10%',
 '3.89%',
 '2.81%',
 '2.79%',
 '2.58%',
 '1.67%',
 '1.61%',
 '1.57%',
 '1.30%',
 '0.83%',
 '0.81%',
 '0.39%',
 '0.26%',
 '0.22%',
 '0.18%',
 '0.18%',
 '0.15%',
 '0.15%',
 '0.14%']

In [67]:
## Extracting GSDP 19-20 for list
GSDP19_20=[]
try:
    a=driver.find_elements_by_xpath('//tr[@role="row"]')
    for i in a[2:32]:
        GSDP19_20.append(i.text.split(' ')[-6])
except NoSuchElementException:
    GSDP19_20.append('-')

In [68]:
GSDP19_20

['-',
 '1,845,853',
 '1,687,818',
 '-',
 '1,631,977',
 '1,253,832',
 '1,020,989',
 '972,782',
 '969,604',
 '906,672',
 '-',
 '856,112',
 '831,610',
 '611,804',
 '574,760',
 '521,275',
 '-',
 '329,180',
 '328,598',
 '-',
 '-',
 '165,472',
 '80,449',
 '55,984',
 '-',
 '38,253',
 '36,572',
 '32,496',
 '31,790',
 '-']

In [69]:
## Extracting GDP in billion 
GDP=[]
try:
    a=driver.find_elements_by_xpath('//tr[@role="row"]')
    for i in a[2:32]:
        GDP.append(i.text.split(' ')[-3])
except NoSuchElementException:
    GDP.append('-')

In [70]:
GDP

['399.921',
 '247.629',
 '240.726',
 '228.290',
 '226.806',
 '165.556',
 '143.179',
 '131.083',
 '130.791',
 '122.977',
 '118.733',
 '117.703',
 '111.519',
 '80.562',
 '79.957',
 '74.098',
 '47.982',
 '46.187',
 '45.145',
 '37.351',
 '23.690',
 '23.369',
 '11.115',
 '7.571',
 '6.397',
 '5.230',
 '5.086',
 '4.363',
 '4.233',
 '4.144']

In [71]:
## Extracting GSDP at 2011-12 prices
GSDP_at_2011_12_price19_20=[]
try:
    a=driver.find_elements_by_xpath('//tr[@role="row"]')
    for i in a[2:32]:
        GSDP_at_2011_12_price19_20.append(i.text.split(' ')[-2])
except NoSuchElementException:
    GSDP_at_2011_12_price19_20.append('-')

In [72]:
GSDP_at_2011_12_price19_20

['-',
 '1,312,929',
 '1,166,817',
 '-',
 '1,156,039',
 '793,223',
 '711,627',
 '672,018',
 '663,258',
 '561,801',
 '-',
 '634,408',
 '572,240',
 '414,977',
 '418,868',
 '396,499',
 '-',
 '243,477',
 '240,036',
 '-',
 '-',
 '124,403',
 '63,408',
 '40,583',
 '-',
 '25,093',
 '26,695',
 '20,017',
 '20,673',
 '-']

In [73]:
## Extracting GSDP at 2011-12 prices
GSDP_at_2011_12_price18_19=[]
try:
    a=driver.find_elements_by_xpath('//tr[@role="row"]')
    for i in a[2:32]:
        GSDP_at_2011_12_price18_19.append(i.text.split(' ')[-1])
except NoSuchElementException:
    GSDP_at_2011_12_price18_19.append('-')

In [74]:
GSDP_at_2011_12_price18_19

['2,039,074',
 '1,215,307',
 '1,123,982',
 '1,186,379',
 '1,091,077',
 '739,525',
 '677,428',
 '621,301',
 '612,828',
 '522,009',
 '559,412',
 '590,569',
 '531,085',
 '375,651',
 '397,669',
 '376,877',
 '234,048',
 '231,182',
 '224,986',
 '193,273',
 '112,755',
 '117,851',
 '57,787',
 '36,963',
 '31,192',
 '23,013',
 '24,682',
 '18,722',
 '19,300',
 '17,647']

### Creating A DataFrame:

In [75]:
df2=pd.DataFrame({'Rank':rank,
                 'State_name':state_name,
                 'GSDP_at_Current_Price19_20':GSDP19_20,
                 'GSDP_at_Current_Price18_19':GSDP18_19,
                'Share':share,
                'GDP_in_billion':GDP,
                'GSDP_at_2011_12_price19_20':GSDP_at_2011_12_price19_20,
                 'GSDP_at_2011_12_price18_19':GSDP_at_2011_12_price18_19},
                index=list(range(len(rank))))

In [76]:
df2

,Rank,State_name,GSDP_at_Current_Price19_20,GSDP_at_Current_Price18_19,Share,GDP_in_billion,GSDP_at_2011_12_price19_20,GSDP_at_2011_12_price18_19
0,1,Maharashtra,-,"2,632,792",13.94%,399.921,-,"2,039,074"
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629,"1,312,929","1,215,307"
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726,"1,166,817","1,123,982"
3,4,Gujarat,-,"1,502,899",7.96%,228.290,-,"1,186,379"
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806,"1,156,039","1,091,077"
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556,"793,223","739,525"
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179,"711,627","677,428"
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083,"672,018","621,301"
8,9,Telangana,"969,604","861,031",4.56%,130.791,"663,258","612,828"
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977,"561,801","522,009"
10,11,Kerala,-,"781,653",4.14%,118.733,-,"559,412"
11,12,Delhi,"856,112","774,870",4.10%,117.703,"634,408","590,569"
12,13,Haryana,"831,610","734,163",3.89%,111.519,"572,240","531,085"
13,14,Bihar,"611,804","530,363",2.81%,80.562,"414,977","375,651"
14,15,Punjab,"574,760","526,376",2.79%,79.957,"418,868","397,669"
15,16,Odisha,"521,275","487,805",2.58%,74.098,"396,499","376,877"
16,17,Assam,-,"315,881",1.67%,47.982,-,"234,048"
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187,"243,477","231,182"
18,19,Jharkhand,"328,598","297,204",1.57%,45.145,"240,036","224,986"
19,20,Uttarakhand,-,"245,895",1.30%,37.351,-,"193,273"
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690,-,"112,755"
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369,"124,403","117,851"
22,23,Goa,"80,449","73,170",0.39%,11.115,"63,408","57,787"
23,24,Tripura,"55,984","49,845",0.26%,7.571,"40,583","36,963"
24,25,Chandigarh,-,"42,114",0.22%,6.397,-,"31,192"
25,26,Puducherry,"38,253","34,433",0.18%,5.230,"25,093","23,013"
26,27,Meghalaya,"36,572","33,481",0.18%,5.086,"26,695","24,682"
27,28,Sikkim,"32,496","28,723",0.15%,4.363,"20,017","18,722"
28,29,Manipur,"31,790","27,870",0.15%,4.233,"20,673","19,300"
29,30,Nagaland,-,"27,283",0.14%,4.144,-,"17,647"

In [77]:
driver.close()

## `Question.5`:-  Scrape the details of trending repositories on Github.com.
- Url = https://github.com/
You have to find the following details:
- A) Repository title
- B) Repository description
- C) Contributors count
- D) Language used
##### Note: - From the home page you have to click on the trending option from Explore menu through code.

In [78]:
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.common.keys import Keys

In [80]:
driver=webdriver.Chrome('chromedriver.exe')
driver.get('https://github.com/')
time.sleep(5)
### assigning the  driver:
act=ActionChains(driver)
### clicking on explore menu
act.click(driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary')).perform()
### clicking on trending button in explore menu
act.click(driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a')).perform()

In [81]:
#### finding all the url for every trending repository
url=[]
url_tags=driver.find_elements_by_xpath('//h1[@class="h3 lh-condensed"]//a')
print('The length of url_tags is : ',len(url_tags))
for  i in url_tags:
    url.append(i.get_attribute('href'))

The length of url_tags is :  25

In [82]:
url

['https://github.com/CodeEditApp/CodeEdit',
 'https://github.com/microsoft/routeros-scanner',
 'https://github.com/ToolJet/ToolJet',
 'https://github.com/pedroslopez/whatsapp-web.js',
 'https://github.com/ocornut/imgui',
 'https://github.com/Dreamacro/clash',
 'https://github.com/bitcoin/bitcoin',
 'https://github.com/arthurspk/guiadevbrasil',
 'https://github.com/lxgr-linux/pokete',
 'https://github.com/PKUFlyingPig/cs-self-learning',
 'https://github.com/johnthebrit/CertificationMaterials',
 'https://github.com/freddier/hyperblog',
 'https://github.com/openmlsys/openmlsys-zh',
 'https://github.com/kabinspace/AstroVim',
 'https://github.com/rust-lang/rust',
 'https://github.com/public-apis/public-apis',
 'https://github.com/RanKKI/LawRefBook',
 'https://github.com/vnpy/vnpy',
 'https://github.com/coolsnowwolf/lede',
 'https://github.com/google-research/kubric',
 'https://github.com/2dust/v2rayN',
 'https://github.com/TheAlgorithms/Rust',
 'https://github.com/dair-ai/ML-Course-Notes',
 'https://github.com/trustwallet/assets',
 'https://github.com/home-assistant/core']

In [83]:
## extracting repository title from all links
title=[]
for i in url:
    driver.get(i)
    time.sleep(3)
    try:
        tag=driver.find_element_by_xpath('//strong[@class="mr-2 flex-self-stretch"]')
        title.append(tag.text)
    except NoSuchElementException:
        title.append("-")

In [84]:
title

['CodeEdit',
 'routeros-scanner',
 'ToolJet',
 'whatsapp-web.js',
 'imgui',
 'clash',
 'bitcoin',
 'guiadevbrasil',
 'pokete',
 'cs-self-learning',
 'CertificationMaterials',
 'hyperblog',
 'openmlsys-zh',
 'AstroVim',
 'rust',
 'public-apis',
 'LawRefBook',
 'vnpy',
 'lede',
 'kubric',
 'v2rayN',
 'Rust',
 'ML-Course-Notes',
 'assets',
 'core']

In [85]:
## extracting from all links
description=[]
contributer=[]
language=[]
for i in url:
    driver.get(i)
    time.sleep(3)
    try:
        tag=driver.find_element_by_xpath('//article[@itemprop="text"]')
        description.append(tag.text)
    except NoSuchElementException:
        description.append("-")
    try:
        tag1=driver.find_element_by_xpath('/html/body/div[4]/div/main/div[2]/div/div/div[3]/div[2]/div/div[4]/div/h2/a')
        contributer.append(tag1.text)
    except NoSuchElementException:
        contributer.append("-")
    try:
        tag2=driver.find_element_by_xpath('//ul[@class="list-style-none"]//li[@class="d-inline"][1]')
        language.append(tag2.text)
    except NoSuchElementException:
        language.append("-")

### Creating a dataframe

In [86]:
github_df=pd.DataFrame({'Repository_title':title,
                       'Description':description,
                       'Contributers':contributer,
                       'Language_used':language})
github_df

,Repository_title,Description,Contributers,Language_used
0,CodeEdit,CodeEdit macOS App\n⚠️ CodeEdit is currently i...,Contributors 21,Swift\n99.7%
1,routeros-scanner,RouterOS Scanner\nForensics tool for Mikrotik ...,-,Python\n100.0%
2,ToolJet,ToolJet is an open-source low-code framework t...,Contributors 134,JavaScript\n48.4%
3,whatsapp-web.js,whatsapp-web.js\nA WhatsApp API client that co...,Used by 2.2k,JavaScript\n99.9%
4,imgui,Dear ImGui\n(This library is available under a...,-,C++\n87.7%
5,clash,Clash\nA rule-based tunnel in Go.\nFeatures\nL...,Contributors 75,Go\n99.2%
6,bitcoin,Bitcoin Core integration/staging tree\nhttps:/...,-,C++\n67.1%
7,guiadevbrasil,📚 GUIA EXTENSO DE PROGRAMAÇÃO\n⚠️ AVISO IMPORT...,-,-
8,pokete,Pokete -- Grey Edition\nSee more example pics\...,-,Python\n99.5%
9,cs-self-learning,CS自学指南\nEveryone should enjoy CS if you have a...,-,HTML\n100.0%
10,CertificationMaterials,Certification Materials\nA collection of mater...,-,-
11,hyperblog,Hyperblog 💚\nUn blog increíble para el curso d...,-,HTML\n97.8%
12,openmlsys-zh,机器学习系统：设计和实现\n本开源项目试图给读者讲解现代机器学习系统的设计原理和实现经验。\...,-,TeX\n96.2%
13,AstroVim,AstroVim\nAstroVim is an aesthetic and feature...,Contributors 11,Lua\n99.7%
14,rust,The Rust Programming Language\nThis is the mai...,"Contributors 3,682",Rust\n97.9%
15,public-apis,Public APIs\nA collective list of free APIs fo...,-,Python\n96.8%
16,LawRefBook,在线版\n中国法律\n根据《中华人民共和国著作权法》第五条，本作品不适用于该法。如不受其他法...,Contributors 3,Swift\n91.5%
17,vnpy,"VeighNa - By Traders, For Traders.\n💬 Want to ...",-,Python\n98.9%
18,lede,欢迎来到Lean的Openwrt源码仓库！\nEnglish\n如何编译自己需要的 Open...,-,C\n92.1%
19,kubric,Kubric\nA data generation pipeline for creatin...,-,Python\n95.6%
20,v2rayN,"v2rayN\nA V2Ray client for Windows, support Xr...",-,C#\n100.0%
21,Rust,The Algorithms - Rust\nAll algorithms implemen...,Contributors 93,Rust\n99.4%
22,ML-Course-Notes,🎓 ML Course Notes\nA place to collaborate and ...,-,-
23,assets,Trust Wallet Assets Info\nOverview\nTrust Wall...,-,Go\n97.2%
24,core,Home Assistant\nOpen source home automation th...,Packages 24,Python\n100.0%

In [87]:
driver.close()

## `QuestionNo.6`:-  Scrape the details of top 100 songs on billiboard.com.
- Url = https:/www.billboard.com/
You have to find the following details:
- A) Song name
- B) Artist name
- C) Last week rank
- D) Peak rank
- E) Weeks on board
###### Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [88]:
driver=webdriver.Chrome('chromedriver.exe')

In [89]:
driver.get('http://www.billboard.com/')
time.sleep(5)

### clicking on charts options
driver.find_element_by_xpath('/html/body/div[4]/header/div[1]/div/div/div[2]/div/nav/ul/li[1]/a').click()
time.sleep(5)

### clicking on hot 100 pages
driver.find_element_by_xpath('/html/body/div[4]/header/div[2]/div/nav/ul/li[1]/a').click()
time.sleep(5)

In [90]:
### extracting song name from 2 to 100:-
song_name=[]
try:
    all_song=driver.find_elements_by_xpath('//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only"]')
    for i in all_song:
        song_name.append(i.text)
except NoSuchElementException:
    song_name.append("-")

In [91]:
len(song_name)

99

In [92]:
### extracting artist name from 2 to 100:-
artist_name=[]
try:
    all_song=driver.find_elements_by_xpath('//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]')
    for i in all_song:
        artist_name.append(i.text)
except NoSuchElementException:
    artist_name.append("-")

In [93]:
len(artist_name)

99

In [94]:
### extracting last week rank from 1 to 100:-
last_week_rank=[]
try:
    all_song=driver.find_elements_by_xpath('//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]')
    count=1
    for i in all_song:
        if count%2!=0:
            last_week_rank.append(i.text)
        count+=1
except NoSuchElementException:
    last_week_rank.append("-")

In [95]:
len(last_week_rank)

100

In [96]:
### extracting weeks on board rank from 1 to 100:-
week_on_board=[]
try:
    all_song=driver.find_elements_by_xpath('//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]')
    count=1
    for i in all_song:
        if count%2==0:
            week_on_board.append(i.text)
        count+=1
except NoSuchElementException:
    week_on_board.append("-")

In [97]:
len(week_on_board)

100

In [98]:
### extracting peak rank from 1 to 100:-
peak_rank=[]
try:
    all_song=driver.find_elements_by_xpath('//li[@class="o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-hidden@mobile-max"]')
    count=1
    for i in all_song:
        if count%2==0:
            peak_rank.append(i.text)
        count+=1
except NoSuchElementException:
    peak_rank.append("-")

In [99]:
len(peak_rank)

100

- we can see that "song_name" and "artist_name" name has 1 data point missing. Because for the top 1st song's 'Song_name' and 'artist_name' has different class. So we will first extract those as well and append them at 1st position of song and artist list which we extracted before.

In [100]:
### extracting for song name for top song
all_song=[]
tag=driver.find_element_by_xpath('/html/body/div[4]/main/div[2]/div[2]/div/div[1]/div[1]/div[1]/div/div[2]/h3/a')
all_song.append(tag.text)
print(all_song)

['Heat Waves']

In [101]:
### extracting artist name for top 1st song
all_artist=[]
tag=driver.find_element_by_xpath('/html/body/div[4]/main/div[2]/div[2]/div/div[1]/div[1]/div[1]/div/div[2]/p')
all_artist.append(tag.text)
print(all_artist)

['Glass Animals']

In [102]:
### Appending above data into song and artist list which we have already extracted:
all_songs=all_song+song_name
all_artists=all_artist+artist_name
print(len(all_songs))
print(len(all_artists))

100
100

In [103]:
### creating a dataframe:
songs_df=pd.DataFrame({'Song_name':all_songs,
                      'Artist_name':all_artists,
                      'Last_week_rank':last_week_rank,
                       'Peak_rank':peak_rank,
                      'Week_on_board':week_on_board})

In [104]:
songs_df

,Song_name,Artist_name,Last_week_rank,Peak_rank,Week_on_board
0,Heat Waves,Glass Animals,1,1,61
1,Stay,The Kid LAROI & Justin Bieber,5,1,36
2,Super Gremlin,Kodak Black,3,3,19
3,abcdefu,GAYLE,4,3,17
4,We Don't Talk About Bruno,"Carolina Gaitan, Mauro Castillo, Adassa, Rhenz...",2,1,12
...,...,...,...,...,...
95,By Your Side,Rod Wave,86,58,16
96,Waiting On A Miracle,Stephanie Beatriz,83,48,11
97,I Hate YoungBoy,YoungBoy Never Broke Again,81,79,3
98,City Of Gods,"Fivio Foreign, Kanye West & Alicia Keys",90,46,5
99,Closer,Saweetie Featuring H.E.R.,99,89,5

In [105]:
driver.close()

## `Question7`:- . Scrape the details of Data science recruiters from naukri.com.
-  Url = https://www.naukri.com/hr-recruiters-consultants

You have to find the following details:
- A) Name
- B) Designation
- C) Company
- D) Skills they hire for
- E) Location
##### Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [106]:
### assign the chrome driver
driver=webdriver.Chrome('chromedriver.exe')

### getting the web page
driver.get('https://www.naukri.com/hr-recruiters-consultants')
time.sleep(5)
## send keys data scientist for search bar
designation=driver.find_element_by_xpath('//input[@placeholder="Skills, Designations, Companies"]').send_keys('Data Scientist')

### clicking on search button

driver.find_element_by_xpath('//button[@id="qsbFormBtn"]').click()
time.sleep(5)

In [107]:
## Extracting the HR Name
hr_name=[]
role=[]
company_name=[]

skills=[]
try:
    name_tags=driver.find_elements_by_xpath('//span[@class="fl ellipsis"]')
    for i in name_tags:
        hr_name.append(i.text)
except NoSuchElementException:
    hr_name.append('-')
try:
    role_tags=driver.find_elements_by_xpath('//span[@class="ellipsis clr"]')
    for i in role_tags:
        role.append(i.text)
except NoSuchElementException:
    role.append('-')
    
try:
    company_tags=driver.find_elements_by_xpath('//a[@class="ellipsis"]')
    count=1
    for i in company_tags:
        if count%2==0:
            company_name.append(i.text)
        count+=1
except NoSuchElementException:
    role.append('-')

try:
    skill_tags=driver.find_elements_by_xpath('//div[@class="hireSec highlightable"]')
    for i in skill_tags:
        skills.append(i.text)
except NoSuchElementException:
    skills.append('-')

In [108]:
### extracting the urls 
hr_url=[]
all_links=driver.find_elements_by_xpath('//p[@class="highlightable"]//a[1]')
for i in all_links:
    hr_url.append(i.get_attribute('href'))

In [109]:
hr_url

['https://www.naukri.com/recruiters/tanushree?xid=164798004560174400&xp=1',
 'https://www.naukri.com/recruiters/sashibhushan-2663718?xid=164798004560174400&xp=2',
 'https://www.naukri.com/recruiters/bitapi-2057572?xid=164798004560174400&xp=3',
 'https://www.naukri.com/recruiters/gajendrasingh?xid=164798004560174400&xp=4',
 'https://www.naukri.com/recruiters/sadashivkulkarni-2765402?xid=164798004560174400&xp=5',
 'https://www.naukri.com/recruiters/invelopment-2670572?xid=164798004560174400&xp=6',
 'https://www.naukri.com/recruiters/anjalisrivastava?xid=164798004560174400&xp=7',
 'https://www.naukri.com/recruiters/hellyvyas-2439474?xid=164798004560174400&xp=8',
 'https://www.naukri.com/recruiters/ashishverma-2208190?xid=164798004560174400&xp=9',
 'https://www.naukri.com/recruiters/shivakumarn?xid=164798004560174400&xp=10',
 'https://www.naukri.com/recruiters/balajiprabhakaran-4932660?xid=164798004560174400&xp=11',
 'https://www.naukri.com/recruiters/bhuwneshari?xid=164798004560174400&xp=12',
 'https://www.naukri.com/recruiters/hssandesh?xid=164798004560174400&xp=13',
 'https://www.naukri.com/recruiters/Anoop.Somarajan?xid=164798004560174400&xp=14',
 'https://www.naukri.com/recruiters/datafoundry?xid=164798004560174400&xp=15',
 'https://www.naukri.com/recruiters/avalsaflorina-2422912?xid=164798004560174400&xp=16',
 'https://www.naukri.com/recruiters/kalaivanimv-3790606?xid=164798004560174400&xp=17',
 'https://www.naukri.com/recruiters/prashant-3733450?xid=164798004560174400&xp=18',
 'https://www.naukri.com/recruiters/radhika-hrassociate-coimbatore?xid=164798004560174400&xp=19',
 'https://www.naukri.com/recruiters/rakhi-2514798?xid=164798004560174400&xp=20',
 'https://www.naukri.com/recruiters/monikajain-1720584?xid=164798004560174400&xp=21',
 'https://www.naukri.com/recruiters/madhuri-3199202?xid=164798004560174400&xp=22',
 'https://www.naukri.com/recruiters/rashmikathuria-associateconsultant-noida?xid=164798004560174400&xp=23',
 'https://www.naukri.com/recruiters/vidyaranihadimani-812425?xid=164798004560174400&xp=24',
 'https://www.naukri.com/recruiters/monikasinghthakur-4847378?xid=164798004560174400&xp=25',
 'https://www.naukri.com/recruiters/ankitsoni?xid=164798004560174400&xp=26',
 'https://www.naukri.com/recruiters/shikhabakshi?xid=164798004560174400&xp=27',
 'https://www.naukri.com/recruiters/abhishekyadav-3450244?xid=164798004560174400&xp=28',
 'https://www.naukri.com/recruiters/jayanthn-3081850?xid=164798004560174400&xp=29',
 'https://www.naukri.com/recruiters/ravi-3171792?xid=164798004560174400&xp=30',
 'https://www.naukri.com/recruiters/ishukumar?xid=164798004560174400&xp=31',
 'https://www.naukri.com/recruiters/vivekshrivastava?xid=164798004560174400&xp=32',
 'https://www.naukri.com/recruiters/gayathrie?xid=164798004560174400&xp=33',
 'https://www.naukri.com/recruiters/bestintownanalytics?xid=164798004560174400&xp=34',
 'https://www.naukri.com/recruiters/nagendlasyamkumar-datascientist?xid=164798004560174400&xp=35',
 'https://www.naukri.com/recruiters/santhoshnagaiah-4385586?xid=164798004560174400&xp=36',
 'https://www.naukri.com/recruiters/priyanka-3650632?xid=164798004560174400&xp=37',
 'https://www.naukri.com/recruiters/rennybenitak-3643476?xid=164798004560174400&xp=38',
 'https://www.naukri.com/recruiters/sudiptasamanta-5107640?xid=164798004560174400&xp=39',
 'https://www.naukri.com/recruiters/roshanmenugu-companyrecruiter-hyderabadsecunderabad?xid=164798004560174400&xp=40',
 'https://www.naukri.com/recruiters/harshajitkashyap-2804340?xid=164798004560174400&xp=41',
 'https://www.naukri.com/recruiters/jamilakhtar-3223160?xid=164798004560174400&xp=42',
 'https://www.naukri.com/recruiters/rajesh-3059022?xid=164798004560174400&xp=43',
 'https://www.naukri.com/recruiters/navyaneluri-3618450?xid=164798004560174400&xp=44',
 'https://www.naukri.com/recruiters/ramkumar-pune?xid=164798004560174400&xp=45',
 'https://www.naukri.com/recruiters/purplejack?xid=164798004560174400&xp=46',
 'https://www.naukri.com/recruiters/vanithasenkurichi-2649176?xid=164798004560174400&xp=47',
 'https://www.naukri.com/recruiters/sravanr-2407438?xid=164798004560174400&xp=48',
 'https://www.naukri.com/recruiters/perex?xid=164798004560174400&xp=49',
 'https://www.naukri.com/recruiters/priyankaakiri-5010064?xid=164798004560174400&xp=50']

In [110]:
## extracting the location
loc=[]
for i in hr_url:
    driver.get(i)
    time.sleep(4)
    try:
        loc_tags=driver.find_elements_by_xpath('//a[@class="fl ellipsis widLrg"]')
        count=1
        for i in loc_tags:
            if count%2==0:
                loc.append(i.text)
            count+=1
    except NoSuchElementException:
        loc.append('-')

In [111]:
len(loc)

50

In [112]:
### creating a dataframe
hr_df=pd.DataFrame({'Recruiter_name':hr_name,
                   'Designation':role,
                   'Company_name':company_name,
                   'Skills':skills,
                   'Location':loc})

In [113]:
hr_df

,Recruiter_name,Designation,Company_name,Skills,Location
0,Tanushree,Lead Recruiter,RecRoots,"UI Developers, Software Engineers, Quality Ass...",Noida
1,sashi bhushan,Senior Specialist,Wipro,"pig, hbase, sas, spss, apache, python, nosql, ...",Bengaluru / Bangalore
2,Bitapi,HR and Operation Manager,Anvaya,"Hadoop, Big Data, Data Scientists, Java, Sprin...",Bengaluru / Bangalore
3,Gajendra Singh,Head of Recruitment - Product &amp;...,A Leading of Product Start-UP Company,"Data Scientist, Big Data, Hadoop, Web Analytic...",Noida
4,Sadashiv Kulkarni,Company HR,Digitially Insights Pvt Ltd,"Big Data Engineer, Data Scientist, Solutions, ...",Pune
5,Invelopment,Company HR,Invelopment,Scandinavian Startups,Ahmedabad
6,Anjali Srivastava,Director HR,CodeFire Technologies Pvt. Ltd.,"Technical, Business Development Executive, Sof...",Noida
7,Helly Vyas,HR Business Partner,AM - TA &amp; HR,"Big Data technology, PLSQL, Web Developer, Jav...",Pune
8,Ashish Verma,Senior Associate Human Resources,Evalueserve.com Private Limited,"SAS, VBA, Business Information Services(BIS), ...",Gurgaon
9,Shiva Kumar N,Founder,Rapid Talent Solutions -9148242334,"salaesforce, Web Technologies, .net, .net full...",Bengaluru / Bangalore
10,Balaji Prabhakaran,Company Recruiter,Oportun,"Technical Solution Architect, Data Scientist, ...",Chennai
11,Bhuwneshari Devi,Lead Talent Acquisition,Success Pact Consulting,"Amazon, Olacabs, Quikr, Bankbazzar, Uber, Flip...",Delhi
12,HS Sandesh,Talent Evangelist www staffiohr co,Staffio HR,"Digital Marketing, General Manager, Business D...",Bengaluru / Bangalore
13,Anoop Somarajan,Manager - Talent Acquisition,R1RCM,"Asp.net, Hl7, Mirth, Perl, Xamarin, Javascript...",Chennai
14,Datafoundry,Company HR,JAITRA SOFTWARE SOLUTIONS PVT LTD,"Webmethods Developer, Mean Stack, Business Ana...",Bengaluru / Bangalore
15,A Valsa Florina,Recruitment Specialist,Redbus.in,"Business Analyst, Front end developer, legal, ...",Bengaluru / Bangalore
16,Kalaivani M V,HR Manager,ZYUDLY LABS DATA SOLUTIONS PRIVATE LIMITED,"Data Scientist, Cloud Computing, Mobile Applic...",Chennai
17,Prashant K,Sr HR,Confidential,"Data Analyst, Statistical Analysis, Data Scien...",Bengaluru / Bangalore
18,Radhika,HR Associate,Bright Bridge Info-tech Pvt Ltd,"business analyst - IT (python), pay per click,...",Coimbatore
19,Rakhi,HR recruiter,Constalytics,"Data Scientist, Data Research Analyst, Big Dat...",Singapore - (singapore)
20,Monika Jain,Talent Aquistion Lead,Info Edge India Limited,"Lamp Developer, Ui/ux Developer, Qa Engineer, ...",Noida
21,Trilok Nath,Senior IT Recruiter,Molveno Consulting Private Limited,".Net Developers With Angular Js, Html, Front E...",Hyderabad / Secunderabad
22,Rashmi Kathuria,Talent Acquisition Specialist (Specialized...,Mount Talent consulting,"Leading MNCs, Product based organizations",Noida
23,Vidya Rani Hadimani,Business Manager Delivery,Talent Management Labs Inc.,Amazon Walmart Adobe OLA Myntracom Komli Media...,Bengaluru / Bangalore
24,Monika Singh Thakur,Technical Recruiter,ValueLabs,"Big Data Analytics, Marketing Analytics, Full ...",Indore
25,Ankit Soni,Talent Acquisition,Seven N Half,"Relationship Management, Branch Management, Br...",Ahmedabad
26,Shikha Bakshi,Senior Manager Recruitment,Fractal Analytics!!,"Analytics, Big Data, Hadoop, Python",Gurgaon
27,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
28,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
29,Ravi,Team HR,Einfluss Teknocommercial Pvt. Ltd.,"Deep Learning, Machine Learning, unstructured ...",Ghaziabad
30,Ishu Kumar,Co Founder &amp; Ceo,Data X,"Python, Machine Learning, Sql, Data Science",Bengaluru / Bangalore
31,Vivek Shrivastava,Assistant Manager Human Resources,InnovAccer Management Pvt Ltd,"Business Analyst, analytics, Decesion Scientis...",Noida
32,Gayathri E,Sr Recruitment,Wonderwrks IT Services Private Limited,"IT Infrastructure Management, PHP, Wordpress, ...",Chennai
33,Best In Town Analytics,Analytics Associate,BITA,Data Analytics,Bengaluru / Bangalore
34,Nagendla Syam Kumar,Data Scientist,FLOWERHORN IT PVT LTD,"Machine Learning, NLP, Performance Review, HR,...",Bengaluru / Bangalore
35,Santhosh Nagaiah,Chief marketing officer,Tuple Technologies Pte Ltd,"Data Science, Project Management, Backend",Others
36,priyanka,General Manager,Reliance Industries,"Sap, Saas, Sql, Hadoop, Production Planning, B...",Mumbai
37,Renny Benita K,Operations Manager,DeepIQ Software Solutions Pvt Ltd,"Core Java, J2ee, Big Data, Machine Learning, D...",Bengaluru / Bangalore
38,Sudipta Samanta,Founder,DataNnoviteSol LLP,Not Specified,Pune
39,Roshan Menugu,Company Recruiter,Cyient Limited,Not Specified,Hyderabad / Secunderabad
40,HR Team,Company HR,Terra Blue Exploration Technologies Pvt....,Not Specified,Bengaluru / Bangalore
41,Jamil Akhtar,Company Recruiter,Quikkloan,Not Specified,Delhi
42,rajesh,HR Executive,quantum value IT services,"Data Scientist, Tableau, R Tool, Data Analytic...",Bengaluru / Bangalore
43,navya neluri,Data Scientist,asens labs,Not Specified,Hyderabad / Secunderabad
44,Ram Kumar,Data Scientist,Working As A Freelancer,Not Specified,Pune
45,Shreya Naithani,Talent Acquisition Executive,Purplejack Labs Pvt. Ltd.,"Node.js, React.js, Etl Testing, Data Warehousi...",Mumbai
46,Vanitha Senkurichi,Company HR,Quaero 3 India Ltd,"sql, Ui Development, ssis, Data Modeling, Data...",Bengaluru / Bangalore
47,Sravan Kumar Ranga,Assistant Manager,GSPANN Technologies,"devops, build and release, Delivery Manager, O...",Hyderabad / Secunderabad
48,Zack,Recruitment Manager,Perex Engineering Pvt Ltd,"Software Development, Javascript, Core Java, J...",Hyderabad / Secunderabad
49,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad

In [114]:
driver.close()

## `Question 8`:-  Scrape the details of Highest selling novels.
- Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
- A) Book name
- B) Author name
- C) Volumes sold
- D) Publisher
- E) Genre

In [115]:
### assign the chrome driver
driver=webdriver.Chrome('chromedriver.exe')

## fetching the web page.
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')
time.sleep(5)

In [116]:
### extracting the rank
book_rank=[]
try:
    rank_tags=driver.find_elements_by_xpath('//tbody//tr//td[1]')
    for i in rank_tags:
        book_rank.append(i.text)
except NoSuchElementException:
    book_rank.append('-')

In [117]:
print(len(book_rank))

100

In [118]:
### extracting the book name
book=[]
try:
    book_tags=driver.find_elements_by_xpath('//tbody//tr//td[2]')
    for i in book_tags:
        book.append(i.text)
except NoSuchElementException:
    book.append('-')

In [119]:
len(book)

100

In [120]:
### extracting the author name
author=[]
try:
    author_tags=driver.find_elements_by_xpath('//tbody//tr//td[3]')
    for i in author_tags:
        author.append(i.text)
except NoSuchElementException:
    author.append('-')

In [121]:
len(author)

100

In [122]:
### extracting the volume sales
sales=[]
try:
    sales_tags=driver.find_elements_by_xpath('//tbody//tr//td[4]')
    for i in sales_tags:
        sales.append(i.text)
except NoSuchElementException:
    sales.append('-')

In [123]:
len(sales)

100

In [124]:
### extracting the publisher
publisher=[]
try:
    publisher_tags=driver.find_elements_by_xpath('//tbody//tr//td[5]')
    for i in publisher_tags:
        publisher.append(i.text)
except NoSuchElementException:
    publisher.append('-')

In [125]:
len(publisher)

100

In [126]:
### extracting the Genre
genre=[]
try:
    genre_tags=driver.find_elements_by_xpath('//tbody//tr//td[6]')
    for i in book_tags:
        genre.append(i.text)
except NoSuchElementException:
    genre.append('-')

In [127]:
len(genre)

100

In [128]:
#### Creating a dataframe of all the data

book_sales_df=pd.DataFrame({'Rank':book_rank,
                           'Book_name':book,
                           'Author_name':author,
                           'Sales_volume':sales,
                           'Publisher':publisher,
                           'Genre':genre})

In [129]:
book_sales_df

,Rank,Book_name,Author_name,Sales_volume,Publisher,Genre
0,1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Da Vinci Code,The"
1,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Harry Potter and the Deathly Hallows
2,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Harry Potter and the Philosopher's Stone
3,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Harry Potter and the Order of the Phoenix
4,5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Fifty Shades of Grey
...,...,...,...,...,...,...
95,96,"Ghost,The","Harris, Robert","807,311",Random House,"Ghost,The"
96,97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Happy Days with the Naked Chef
97,98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,"Hunger Games,The:Hunger Games Trilogy"
98,99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,"Lost Boy,The:A Foster Child's Search for the L..."
99,100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Jamie's Ministry of Food:Anyone Can Learn to C...

In [130]:
driver.close()

## `Question9`:- . Scrape the details most watched tv series of all time from imdb.com.
- Url = https://www.imdb.com/list/ls095964455/

You have to find the following details:
- A) Name
- B) Year span
- C) Genre
- D) Run time
- E) Ratings
- F) Votes

In [131]:
### assign the chrome driver
driver=webdriver.Chrome('chromedriver.exe')

In [132]:
## fetching the web page
driver.get('https://www.imdb.com/list/ls095964455/')
time.sleep(4)

In [133]:
### extracting tv series name
tv_name=[]
try:
    all_series=driver.find_elements_by_xpath('//h3[@class="lister-item-header"]')
    for i in all_series:
        tv_name.append(i.text.split('(')[0])
except NoSuchElementException:
    tv_name.append('-')
print(tv_name)

['1. Game of Thrones ', '2. Stranger Things ', '3. The Walking Dead ', '4. 13 Reasons Why ', '5. The 100 ', '6. Orange Is the New Black ', '7. Riverdale ', "8. Grey's Anatomy ", '9. The Flash ', '10. Arrow ', '11. Money Heist ', '12. The Big Bang Theory ', '13. Black Mirror ', '14. Sherlock ', '15. Vikings ', '16. Pretty Little Liars ', '17. The Vampire Diaries ', '18. American Horror Story ', '19. Breaking Bad ', '20. Lucifer ', '21. Supernatural ', '22. Prison Break ', '23. How to Get Away with Murder ', '24. Teen Wolf ', '25. The Simpsons ', '26. Once Upon a Time ', '27. Narcos ', '28. Daredevil ', '29. Friends ', '30. How I Met Your Mother ', '31. Suits ', '32. Mr. Robot ', '33. The Originals ', '34. Supergirl ', '35. Gossip Girl ', '36. Sense8 ', '37. Gotham ', '38. Westworld ', '39. Jessica Jones ', '40. Modern Family ', '41. Rick and Morty ', '42. Shadowhunters ', '43. The End of the F***ing World ', '44. House of Cards ', '45. Dark ', '46. Elite ', '47. Sex Education ', '48. Shameless ', '49. New Girl ', '50. Agents of S.H.I.E.L.D. ', '51. You ', '52. Dexter ', '53. Fear the Walking Dead ', '54. Family Guy ', '55. The Blacklist ', '56. Lost ', '57. Peaky Blinders ', '58. House ', '59. Quantico ', '60. Orphan Black ', '61. Homeland ', '62. Blindspot ', "63. DC's Legends of Tomorrow ", "64. The Handmaid's Tale ", '65. Chilling Adventures of Sabrina ', '66. The Good Doctor ', '67. Jane the Virgin ', '68. Glee ', '69. South Park ', '70. Brooklyn Nine-Nine ', '71. Under the Dome ', '72. The Umbrella Academy ', '73. True Detective ', '74. The OA ', '75. Desperate Housewives ', '76. Better Call Saul ', '77. Bates Motel ', '78. The Punisher ', '79. Atypical ', '80. Dynasty ', '81. This Is Us ', '82. The Good Place ', '83. Iron Fist ', '84. The Rain ', '85. Mindhunter ', '86. Revenge ', '87. Luke Cage ', '88. Scandal ', '89. The Defenders ', '90. Big Little Lies ', '91. Insatiable ', '92. The Mentalist ', '93. The Crown ', '94. Chernobyl ', '95. iZombie ', '96. Reign ', '97. A Series of Unfortunate Events ', '98. Criminal Minds ', '99. Scream: The TV Series ', '100. The Haunting of Hill House ']

In [134]:
len(tv_name)

100

In [135]:
### extracting year_of span
span_year=[]
try:
    all_series=driver.find_elements_by_xpath('//h3[@class="lister-item-header"]')
    for i in all_series:
        span_year.append(i.text.split('(')[1].replace(')',''))
except NoSuchElementException:
    span_year.append('-')
print(span_year)

['2011–2019', '2016– ', '2010–2022', '2017–2020', '2014–2020', '2013–2019', '2017– ', '2005– ', '2014– ', '2012–2020', '2017–2021', '2007–2019', '2011– ', '2010–2017', '2013–2020', '2010–2017', '2009–2017', '2011– ', '2008–2013', '2016–2021', '2005–2020', '2005–2017', '2014–2020', '2011–2017', '1989– ', '2011–2018', '2015–2017', '2015–2018', '1994–2004', '2005–2014', '2011–2019', '2015–2019', '2013–2018', '2015–2021', '2007–2012', '2015–2018', '2014–2019', '2016– ', '2015–2019', '2009–2020', '2013– ', '2016–2019', '2017–2019', '2013–2018', '2017–2020', '2018– ', '2019– ', '2011–2021', '2011–2018', '2013–2020', '2018– ', '2006–2013', '2015– ', '1999– ', '2013– ', '2004–2010', '2013–2022', '2004–2012', '2015–2018', '2013–2017', '2011–2020', '2015–2020', '2016– ', '2017– ', '2018–2020', '2017– ', '2014–2019', '2009–2015', '1997– ', '2013–2021', '2013–2015', '2019– ', '2014–2019', '2016–2019', '2004–2012', '2015–2022', '2013–2017', '2017–2019', '2017–2021', '2017– ', '2016–2022', '2016–2020', '2017–2018', '2018–2020', '2017– ', '2011–2015', '2016–2018', '2012–2018', '2017', '2017–2019', '2018–2019', '2008–2015', '2016– ', '2019', '2015–2019', '2013–2017', '2017–2019', '2005–2020', '2015–2019', '2018']

In [136]:
len(span_year)

100

In [137]:
### extracting genre
tv_genre=[]
try:
    all_genre=driver.find_elements_by_xpath('//span[@class="genre"]')
    for i in all_genre:
        tv_genre.append(i.text)
except NoSuchElementException:
    tv_genre.append('-')
print(tv_genre)

['Action, Adventure, Drama', 'Drama, Fantasy, Horror', 'Drama, Horror, Thriller', 'Drama, Mystery, Thriller', 'Drama, Mystery, Sci-Fi', 'Comedy, Crime, Drama', 'Crime, Drama, Mystery', 'Drama, Romance', 'Action, Adventure, Drama', 'Action, Adventure, Crime', 'Action, Crime, Drama', 'Comedy, Romance', 'Drama, Mystery, Sci-Fi', 'Crime, Drama, Mystery', 'Action, Adventure, Drama', 'Drama, Mystery, Romance', 'Drama, Fantasy, Horror', 'Drama, Horror, Sci-Fi', 'Crime, Drama, Thriller', 'Crime, Drama, Fantasy', 'Drama, Fantasy, Horror', 'Action, Crime, Drama', 'Crime, Drama, Mystery', 'Action, Drama, Fantasy', 'Animation, Comedy', 'Adventure, Fantasy, Romance', 'Biography, Crime, Drama', 'Action, Crime, Drama', 'Comedy, Romance', 'Comedy, Romance', 'Comedy, Drama', 'Crime, Drama, Thriller', 'Drama, Fantasy, Horror', 'Action, Adventure, Drama', 'Drama, Romance', 'Drama, Mystery, Sci-Fi', 'Action, Crime, Drama', 'Drama, Mystery, Sci-Fi', 'Action, Crime, Drama', 'Comedy, Drama, Romance', 'Animation, Adventure, Comedy', 'Action, Drama, Fantasy', 'Adventure, Comedy, Crime', 'Drama', 'Crime, Drama, Mystery', 'Crime, Drama, Thriller', 'Comedy, Drama', 'Comedy, Drama', 'Comedy, Romance', 'Action, Adventure, Drama', 'Crime, Drama, Romance', 'Crime, Drama, Mystery', 'Drama, Horror, Sci-Fi', 'Animation, Comedy', 'Crime, Drama, Mystery', 'Adventure, Drama, Fantasy', 'Crime, Drama', 'Drama, Mystery', 'Crime, Drama, Mystery', 'Drama, Sci-Fi, Thriller', 'Crime, Drama, Mystery', 'Action, Crime, Drama', 'Action, Adventure, Drama', 'Drama, Sci-Fi, Thriller', 'Drama, Fantasy, Horror', 'Drama', 'Comedy', 'Comedy, Drama, Music', 'Animation, Comedy', 'Comedy, Crime', 'Drama, Mystery, Sci-Fi', 'Action, Adventure, Comedy', 'Crime, Drama, Mystery', 'Drama, Fantasy, Mystery', 'Comedy, Drama, Mystery', 'Crime, Drama', 'Drama, Horror, Mystery', 'Action, Crime, Drama', 'Comedy, Drama', 'Drama', 'Comedy, Drama, Romance', 'Comedy, Drama, Fantasy', 'Action, Adventure, Crime', 'Drama, Sci-Fi, Thriller', 'Crime, Drama, Mystery', 'Drama, Mystery, Thriller', 'Action, Crime, Drama', 'Drama, Thriller', 'Action, Adventure, Crime', 'Crime, Drama, Mystery', 'Comedy, Drama, Thriller', 'Crime, Drama, Mystery', 'Biography, Drama, History', 'Drama, History, Thriller', 'Comedy, Crime, Drama', 'Drama, Fantasy', 'Adventure, Comedy, Drama', 'Crime, Drama, Mystery', 'Comedy, Crime, Drama', 'Drama, Horror, Mystery']

In [138]:
len(tv_genre)

100

In [139]:
### extracting Duraation
duration=[]
try:
    all_duration=driver.find_elements_by_xpath('//span[@class="runtime"]')
    for i in all_duration:
        duration.append(i.text.split(' ')[0])
except NoSuchElementException:
    duration.append('-')
print(duration)

['57', '51', '44', '60', '43', '59', '45', '41', '43', '42', '70', '22', '60', '88', '44', '44', '43', '60', '49', '42', '44', '44', '43', '41', '22', '60', '49', '54', '22', '22', '44', '49', '45', '43', '42', '60', '42', '62', '56', '22', '23', '42', '25', '51', '60', '60', '45', '46', '22', '45', '45', '53', '44', '22', '43', '44', '60', '44', '42', '44', '55', '42', '42', '60', '60', '41', '60', '44', '22', '22', '43', '60', '55', '60', '45', '46', '45', '53', '30', '42', '45', '22', '55', '45', '60', '44', '55', '43', '50', '60', '45', '43', '58', '330', '42', '42', '50', '42', '45', '572']

In [140]:
len(duration)

100

In [141]:
### extracting votes
votes=[]
try:
    all_votes=driver.find_elements_by_xpath('//span[@name="nv"]')
    for i in all_votes:
        votes.append(i.text)
except NoSuchElementException:
    votes.append('-')
print(votes)

['1,966,445', '973,836', '936,826', '280,218', '240,307', '293,911', '137,839', '290,133', '334,295', '424,287', '450,769', '776,874', '509,385', '884,424', '500,713', '162,098', '308,565', '305,763', '1,690,226', '305,861', '425,119', '513,940', '145,386', '141,432', '392,124', '219,280', '400,820', '413,665', '941,785', '657,392', '392,321', '370,610', '130,457', '121,308', '168,446', '150,612', '224,106', '470,126', '207,609', '405,117', '466,798', '60,398', '175,058', '491,914', '349,307', '69,815', '254,057', '227,805', '214,180', '212,477', '223,019', '708,568', '125,314', '324,399', '234,649', '533,278', '467,840', '445,379', '60,031', '108,116', '333,522', '71,994', '101,808', '214,201', '89,258', '86,701', '46,893', '144,696', '356,849', '288,452', '105,056', '198,268', '541,568', '100,897', '125,162', '385,309', '104,729', '216,727', '82,320', '20,824', '128,975', '145,348', '126,077', '35,382', '264,193', '118,329', '126,536', '71,851', '102,247', '186,205', '26,848', '178,026', '188,587', '668,817', '65,908', '48,082', '58,784', '186,979', '39,643', '223,660']

In [142]:
len(votes)

100

In [143]:
### extracting ratings
tv_ratings=[]
try:
    all_ratings=driver.find_elements_by_xpath('//div[@class="ipl-rating-star small"]')
    for i in all_ratings:
        tv_ratings.append(i.text)
except NoSuchElementException:
    ratings.append('-')
print(tv_ratings)

['9.3', '8.7', '8.3', '7.6', '7.7', '8.1', '6.8', '7.8', '7.7', '7.7', '8.3', '8.2', '8.8', '9.1', '8.6', '7.6', '7.9', '8.1', '9.5', '8.2', '8.6', '8.4', '8.2', '7.9', '8.7', '7.9', '8.8', '8.7', '9', '8.4', '8.5', '8.6', '8.4', '6.3', '7.5', '8.3', '7.9', '8.6', '7.9', '8.5', '9.2', '6.8', '8.1', '8.7', '8.8', '7.5', '8.4', '8.6', '7.8', '7.6', '7.8', '8.7', '6.9', '8.2', '8.1', '8.4', '8.8', '8.8', '6.6', '8.3', '8.4', '7.4', '6.9', '8.4', '7.5', '8.2', '8', '6.9', '8.8', '8.5', '6.6', '8', '8.9', '7.9', '7.6', '8.8', '8.2', '8.5', '8.3', '7.4', '8.7', '8.2', '6.5', '6.3', '8.6', '8', '7.3', '7.8', '7.3', '8.5', '6.6', '8.2', '8.7', '9.4', '7.9', '7.6', '7.8', '8.2', '7.1', '8.6']

In [144]:
len(tv_ratings)

100

In [145]:
### Creating A dataframe:
tv_series_df=pd.DataFrame({'Serial_name':tv_name,
              'Span_year':span_year,
              'Genre':tv_genre,
              'Duration(in Min)':duration,
              'Ratings':tv_ratings,
              'Votes':votes})

In [146]:
tv_series_df

,Serial_name,Span_year,Genre,Duration(in Min),Ratings,Votes
0,1. Game of Thrones,2011–2019,"Action, Adventure, Drama",57,9.3,"1,966,445"
1,2. Stranger Things,2016–,"Drama, Fantasy, Horror",51,8.7,"973,836"
2,3. The Walking Dead,2010–2022,"Drama, Horror, Thriller",44,8.3,"936,826"
3,4. 13 Reasons Why,2017–2020,"Drama, Mystery, Thriller",60,7.6,"280,218"
4,5. The 100,2014–2020,"Drama, Mystery, Sci-Fi",43,7.7,"240,307"
...,...,...,...,...,...,...
95,96. Reign,2013–2017,"Drama, Fantasy",42,7.6,"48,082"
96,97. A Series of Unfortunate Events,2017–2019,"Adventure, Comedy, Drama",50,7.8,"58,784"
97,98. Criminal Minds,2005–2020,"Crime, Drama, Mystery",42,8.2,"186,979"
98,99. Scream: The TV Series,2015–2019,"Comedy, Crime, Drama",45,7.1,"39,643"
99,100. The Haunting of Hill House,2018,"Drama, Horror, Mystery",572,8.6,"223,660"

In [147]:
driver.close()

## `Question 10`:-  Details of Datasets from UCI machine learning repositories.
- Url = https://archive.ics.uci.edu/

You have to find the following details:
- A) Dataset name
- B) Data type
- C) Task
- D) Attribute type
- E) No of instances
- F) No of attribute
- G) Year
###### Note: - from the home page you have to go to the ShowAllDataset page through code.

In [160]:
### assign the chrome driver
driver=webdriver.Chrome('chromedriver.exe')

### fetching a web page
driver.get('https://archive.ics.uci.edu/')

In [161]:
element_url=driver.find_elements_by_xpath('//span[@class="whitetext"]/a')
urls=[]
for i in element_url:
    urls.append(i.get_attribute('href'))

In [162]:
urls

['https://archive.ics.uci.edu/ml/about.html',
 'https://archive.ics.uci.edu/ml/citation_policy.html',
 'https://archive.ics.uci.edu/ml/donation_policy.html',
 'https://archive.ics.uci.edu/ml/contact.html',
 'https://archive.ics.uci.edu/ml/datasets.php']

In [163]:
## our url is last one
## let's get that url
for i in urls:
    driver.get(i)

In [164]:
## Extracting data
## some data is stored in another class. We will extract it later
dataset_name=[]
try:
    all_data=driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]')
    for i in all_data:
        dataset_name.append(i.text.split('\n')[0].replace(' ',''))
except NoSuchElementException:
    dataset_name.append('-')

In [165]:
len(dataset_name)

311

In [166]:
## extracting the data type
data_type=[]
try:
    all_data=driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]')
    for i in all_data:
        data_type.append(i.text.split('\n')[1])
except NoSuchElementException:
    data_type.append('-')

In [167]:
len(data_type)

311

In [168]:
## extracting the year
year=[]
try:
    all_year=driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]')
    for i in all_year:
        year.append(i.text.split('\n')[-1].replace(' ',''))
except NoSuchElementException:
    year.append('-')
len(year)

311

In [169]:
## extracting the number of attributes
attributes=[]
try:
    all_attributes=driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]')
    for i in all_attributes:
        attributes.append(i.text.split('\n')[-2])
except NoSuchElementException:
    attributes.append('-')
len(attributes)

311

In [170]:
## extracting the attributes_type
attribute_type=[]
try:
    all_attribute=driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]//td[4]')
    for i in all_attribute:
        attribute_type.append(i.text)
except NoSuchElementException:
    attribute_type.append('-')
len(attribute_type)

311

In [171]:
## extracting the task type
task=[]
try:
    all_task=driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]//td[3]')
    for i in all_task:
        task.append(i.text)
except NoSuchElementException:
    task.append('-')
len(task)

311

In [172]:
## extracting the No of intances
intances=[]
try:
    all_attribute=driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]//td[5]')
    for i in all_attribute:
        intances.append(i.text)
except NoSuchElementException:
    intances.append('-')
len(intances)

311

In [173]:
### creating a dataframe
dataset_df=pd.DataFrame({'Dataset_name':dataset_name,
                        'Data_type':data_type,
                        'Dafault_task':task,
                        'Attribute_type':attribute_type,
                        'No_of_intances':intances,
                        'No_of_attributes':attributes,
                        'Year':year})

In [174]:
dataset_df

,Dataset_name,Data_type,Dafault_task,Attribute_type,No_of_intances,No_of_attributes,Year
0,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
1,AnonymousMicrosoftWebData,Recommender-Systems,Recommender-Systems,Categorical,37711,294,1998
2,ArtificialCharacters,Multivariate,Classification,"Categorical, Integer, Real",6000,7,1992
3,Audiology(Standardized),Multivariate,Classification,Categorical,226,69,1992
4,Automobile,Multivariate,Regression,"Categorical, Integer, Real",205,26,1987
...,...,...,...,...,...,...,...
306,ImageRecognitionTaskExecutionTimesinMobileEdge...,"Univariate, Sequential, Time-Series",Regression,Real,4000,2,2020
307,REJAFADA,Multivariate,Classification,Integer,1996,6826,2020
308,InfluenzaoutbreakeventpredictionviaTwitterdata,Multivariate,Classification,"Integer, Real",75840,525,2020
309,MaternalHealthRiskDataSet,Classification,Classification,,1014,7,2020
310,ImageRecognitionTaskExecutionTimesinMobileEdge...,Univariate,Regression,Real,4000,2,2021

In [175]:
driver.close()